<!doctype html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{layout}">
<head>
<title>CSG Spring Boot ReCAPTCHA Demo</title>
</head>
<body>
    <div layout:fragment="content">

        <main role="main" class="container">
            <div class="jumbotron">
                <h1>CSG Spring Boot ReCAPTCHA Demo</h1>
                <p class="lead">This demonstrates ReCAPTCHA in a Spring Boot stack.</p>
                <p><a id="dosomething" class="btn btn-primary" role="button" href="#">Do Something</a></p>
                <p>Server: <span id="server">&nbsp;</span></p>
                <p>Server date and time UTC: <span id="server_date">&nbsp;</span></p>
            </div>
        </main>

    </div>
</body>
</html>
