<!doctype html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    <title>Default</title>
  </head>
  <body>

    <main id="content" layout:fragment="content">MAIN</main>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js" integrity="sha384-vtXRMe3mGCbOeY7l30aIg8H9p3GdeSe4IFlP6G8JMa7o7lXvnz3GFKzPxzJdPfGK" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>

    <script src="https://www.google.com/recaptcha/api.js?render=6Lc-P6AaAAAAALmAx1sf1ezkIWNwROuHo9LVlaAV"></script>

    <script>
        $( "#dosomething" ).click(function() {
            grecaptcha.ready(function() {
                grecaptcha.execute('6Lc-P6AaAAAAALmAx1sf1ezkIWNwROuHo9LVlaAV', {action: 'submit'}).then(function(token) {
                    console.log(token);
                    $.ajax({
                        url: "/api/dosomething",
                        type: "post",
                        contentType: "application/json",
                        headers: {
                            "x-cot-recaptcha-response": token
                        },
                        dataType: 'json',
                        success: function(data) {

                            $("#server").text(data.server_ip);
                            $("#server_date").text(data.server_date);
        
                        }
        
                    });
        
                });
            });
            return false;
        });
    </script>
  </body>
</html>
